@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('Roboto-Regular.ttf');
}

body {
  font-size: 8vw;
  background-color: black;
}

.container {
  position: relative;
  display: grid;
  height: 90vh;
  align-content: center;
}

#clock {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}
